{% extends 'base.html.twig' %}

{% block title %}modifier une combinaison linguistique{% endblock %}

{% block body %}
    <h1>Modifier langue</h1>

    {{ include('langues/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('langues_index') }}">Retour a la liste des langues</a>

    {{ include('langues/_delete_form.html.twig') }}
{% endblock %}
